.main-container{
    display: flex;
    gap: 1.8rem;
    .sidebar{
        background-color: rgb(4, 4, 43);
        height: 100vh;
        color: white;

        .top-section{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 1rem 0;
            h2,.icon-menu{
                cursor: pointer;
            }
            .icon-menu{
                transform: scale(.8);
            }
        }
        section{
            display: flex;
            flex-direction: column;
            .menu-item{
                display: flex;
                align-items: center;
                gap: 10px;
                padding: .8rem 0 .8rem 1rem;
                text-decoration: none;
                color: inherit;
                transition: .1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
                .icon,.link_text{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            .menu-item:hover{
            //    background-color:rgb(7, 7, 56);
               background-color:rgb(67, 67, 90);
               border-right: 1px solid white;
               transition: .1s cubic-bezier(0.6,-0.28,0.735,0.045);
            }
            .active{
                background-color: rgb(45, 45, 89);
                border-right: 1px solid white;
            }
        }

    }
}